In [131]:
import numpy as np
import pandas as pd
import seaborn as sns
import scipy
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt

In [132]:
from scipy import stats
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison
from statsmodels.stats.proportion import proportions_ztest
from statsmodels.stats.proportion import proportions_chisquare

Import Data:

In [133]:
PrisonsUS1 = pd.read_csv('C:/Users/linzw/DsClass/DSO110/Lesson 3/prison1.csv')
PrisonsUS1.head()

,Bureau of Justice Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Filename: p21stat01.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Appendix Table 1. Prisoners under the jurisdic...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Report title: Prisoners in 2021 – Statistical ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Data source: Bureau of Justice Statistics, Fed...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Author: E. Ann Carson, PhD, BJS Statistician",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Drop NaN (Columns and Rows):

In [134]:
PrisonsUS1.drop([0, 1, 2, 3, 4, 5, 6, 7, 8, 11, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74], inplace=True)

In [135]:
PrisonsUS1.drop('Bureau of Justice Statistics', axis=1, inplace=True)

In [136]:
PrisonsUS1.head(15)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
9,NaN,Total,White/a,Black/a,Hispanic,American Indian/Alaska Native/a,Asian/a,Native Hawaiian/Other Pacific Islander/a,Two or more races/a,Other/a,Unknown,Did not report
10,NaN,"157,314","47,460","57,225","46,813","3,644","2,170",~,~,~,~,2
12,Alabama,"25,032","11,470","13,353",0,3,4,0,0,202,~,0
13,Alaska,"4,639","1,895",465,125,"1,855",158,95,0,0,46,0
14,Arizona,"33,914","12,960","5,087","13,131","1,880",157,~,~,612,28,59
15,Arkansas,"17,022","9,547","6,771",563,49,48,19,0,23,2,0
16,California,"101,441","20,137","28,710","45,999","1,161","1,162",321,~,"3,951",0,0
17,Colorado,"15,865","6,520","2,769","4,722",542,184,10,~,"1,025",11,82
18,Connecticut,"9,889","2,778","4,208","2,824",34,43,0,0,0,2,0
19,Delaware,"4,810","1,551","2,952",299,1,6,0,0,0,1,0
20,Florida,"80,417","31,599","38,266","10,174",88,18,7,/,262,3,0
21,Georgia,"47,010","17,159","27,715","1,945",22,157,0,0,~,12,0
22,Hawaii,"4,102",915,185,98,21,699,"1,800",145,0,239,0
23,Idaho/d,"8,907","6,419",258,"1,288",329,43,/,/,107,268,195
24,Illinois,"28,475","8,849","15,204","3,671",42,104,/,55,/,45,505

In [137]:
PrisonsUS1.drop([9], inplace=True)

In [138]:
PrisonsUS1.head(15)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
10,NaN,"157,314","47,460","57,225","46,813","3,644","2,170",~,~,~,~,2
12,Alabama,"25,032","11,470","13,353",0,3,4,0,0,202,~,0
13,Alaska,"4,639","1,895",465,125,"1,855",158,95,0,0,46,0
14,Arizona,"33,914","12,960","5,087","13,131","1,880",157,~,~,612,28,59
15,Arkansas,"17,022","9,547","6,771",563,49,48,19,0,23,2,0
16,California,"101,441","20,137","28,710","45,999","1,161","1,162",321,~,"3,951",0,0
17,Colorado,"15,865","6,520","2,769","4,722",542,184,10,~,"1,025",11,82
18,Connecticut,"9,889","2,778","4,208","2,824",34,43,0,0,0,2,0
19,Delaware,"4,810","1,551","2,952",299,1,6,0,0,0,1,0
20,Florida,"80,417","31,599","38,266","10,174",88,18,7,/,262,3,0
21,Georgia,"47,010","17,159","27,715","1,945",22,157,0,0,~,12,0
22,Hawaii,"4,102",915,185,98,21,699,"1,800",145,0,239,0
23,Idaho/d,"8,907","6,419",258,"1,288",329,43,/,/,107,268,195
24,Illinois,"28,475","8,849","15,204","3,671",42,104,/,55,/,45,505
25,Indiana,"24,716","14,292","7,547",992,50,55,9,153,/,38,"1,580"

Rename Columns:

In [139]:
PrisonsUS1.rename(columns={"Unnamed: 1":"State","Unnamed: 2":"Total Count","Unnamed: 3":"White", "Unnamed: 4":"Black", "Unnamed: 5": "Hispanic1", "Unnamed: 6":"American Indian/Alaskan Native", "Unnamed: 7":"Asian", "Unnamed: 8": "Hawaiian/Islander", "Unnamed: 9": "Two/more Races", "Unnamed: 10":"Other1", "Unnamed: 11": "Unknown1", "Unnamed: 12": "Did Not Report"})

,State,Total Count,White,Black,Hispanic1,American Indian/Alaskan Native,Asian,Hawaiian/Islander,Two/more Races,Other1,Unknown1,Did Not Report
10,NaN,"157,314","47,460","57,225","46,813","3,644","2,170",~,~,~,~,2
12,Alabama,"25,032","11,470","13,353",0,3,4,0,0,202,~,0
13,Alaska,"4,639","1,895",465,125,"1,855",158,95,0,0,46,0
14,Arizona,"33,914","12,960","5,087","13,131","1,880",157,~,~,612,28,59
15,Arkansas,"17,022","9,547","6,771",563,49,48,19,0,23,2,0
16,California,"101,441","20,137","28,710","45,999","1,161","1,162",321,~,"3,951",0,0
17,Colorado,"15,865","6,520","2,769","4,722",542,184,10,~,"1,025",11,82
18,Connecticut,"9,889","2,778","4,208","2,824",34,43,0,0,0,2,0
19,Delaware,"4,810","1,551","2,952",299,1,6,0,0,0,1,0
20,Florida,"80,417","31,599","38,266","10,174",88,18,7,/,262,3,0
21,Georgia,"47,010","17,159","27,715","1,945",22,157,0,0,~,12,0
22,Hawaii,"4,102",915,185,98,21,699,"1,800",145,0,239,0
23,Idaho/d,"8,907","6,419",258,"1,288",329,43,/,/,107,268,195
24,Illinois,"28,475","8,849","15,204","3,671",42,104,/,55,/,45,505
25,Indiana,"24,716","14,292","7,547",992,50,55,9,153,/,38,"1,580"
26,Iowa/e,"8,562","5,492","2,173",605,195,~,~,~,96,1,0
27,Kansas,"8,521","4,781","2,335","1,118",201,75,0,0,5,6,0
28,Kentucky/e,"18,560","14,102","3,879",296,18,~,~,220,30,15,0
29,Louisiana,"26,074","8,863","17,097",66,21,25,0,0,2,~,0
30,Maine,"1,577","1,261",175,~,43,7,1,29,~,61,0
31,Maryland/f,"15,134","3,414","10,730",713,76,49,16,/,114,22,0
32,Massachusetts/g,"6,148","2,561","1,792","1,567",36,102,0,~,~,90,0
33,Michigan,"32,186","13,746","16,278",632,287,94,7,"1,104",0,38,0
34,Minnesota,"8,003","3,732","2,834",471,756,197,/,/,/,13,0
35,Mississippi,"17,332","6,419","10,649",181,35,39,0,0,0,9,0
36,Missouri,"23,422","14,606","7,843",494,97,61,0,/,/,36,285
37,Montana/e,"4,313","3,000",116,133,"1,049",~,~,~,15,0,0
38,Nebraska,"5,600","2,829","1,551",824,287,44,4,/,58,3,0
39,Nevada,"10,202","3,730","3,100","2,764",233,206,113,0,0,56,0
40,New Hampshire,"2,127","1,752",152,125,11,6,1,~,45,35,0
41,New Jersey,"12,506","2,771","7,662","1,941",13,97,0,/,0,22,0
42,New Mexico/h,"5,154","1,385",380,"3,194",455,12,22,0,0,49,0
43,New York,"30,338","7,056","14,930","7,290",289,190,/,/,435,148,0
44,North Carolina,"28,995","11,776","14,620","1,725",576,94,~,~,~,204,0
45,North Dakota,"1,689",982,181,99,418,6,3,0,0,~,0
46,Ohio,"45,029","22,368","19,305","1,156",83,72,/,/,446,/,"1,599"
47,Oklahoma,"22,391","11,109","6,087","1,871","2,099",88,31,~,50,18,"1,038"
48,Oregon,"13,198","9,566","1,236","1,757",411,183,36,/,0,9,0
49,Pennsylvania/f,"37,194","16,427","17,125","3,333",37,114,~,0,0,158,0
50,"Rhode Island/d,f","2,238",887,643,614,21,30,/,/,39,4,0
51,South Carolina/i,"15,759","5,894","9,285",427,25,22,0,/,104,2,0
52,South Dakota/i,"3,353","1,730",262,134,"1,189",26,2,~,10,0,0
53,Tennessee,"21,995","12,047","9,295",560,36,57,/,/,/,/,0
54,Texas,"133,772","45,229","43,485","44,284",63,522,0,0,189,0,0
55,Utah,"5,907","3,487",450,"1,219",333,58,136,0,0,224,0
56,Vermont,"1,287","1,104",124,0,25,8,2,0,9,15,0
57,Virginia/c,"30,357","12,863","16,326",988,32,124,0,0,0,24,0
58,Washington,"13,674","7,555","2,419","2,286",682,590,/,/,56,86,0
59,West Virginia,"5,847","4,956",797,43,5,4,1,41,0,0,0
60,Wisconsin,"20,202","8,947","8,200","1,918",886,244,0,0,/,7,0
61,Wyoming,"2,123","1,593",101,248,159,9,5,0,3,5,0

Showing States with total prisoners per state:

In [140]:
ColumnNames=['States','Total per State']
DataValues=[ ['Alabama', 25032],
             ['Alaska', 4636],
             ['Arizona', 33914],
             ['Arkansas', 17022],
             ['California', 101441],
             ['Colorado', 15865],
             ['Connecticut', 9889],
             ['Delaware', 4810],
             ['Florida', 80417],
             ['Georgia', 47010],
             ['Hawaii', 4102],
             ['Idaho', 8907],
             ['Illinois', 28475],
             ['Indiana', 24716],
             ['Iowa', 8562],
             ['Kansas', 8521],
             ['Kentucky', 18560],
             ['Louisiana', 26074],
             ['Maine', 1577],
             ['Maryland', 15134],
             ['Massachusetts', 6148],
             ['Michigan', 32186],
             ['Minnesota', 8003],
             ['Mississippi', 17332],
             ['Missouri', 23422],
             ['Montana', 4313],
             ['Nebraska', 5600],
             ['Nevada', 10202],
             ['New Hampshire', 2127],
             ['New Jersey', 12506],
             ['New Mexico', 5154],
             ['New York', 30338],
             ['North Carolina', 38995],
             ['North Dakota', 1689],
             ['Ohio', 45029],
             ['Oklahoma', 22391],
             ['Oregon', 13198],
             ['Pennsylvania', 37194],
             ['Rhode Island', 2238],
             ['South Carolina', 15758],
             ['South Dakota', 3353],
             ['Tennesse', 21995],
             ['Texas', 133772],
             ['Utah', 5907],
             ['Vermont', 1287],
             ['Virginia', 30357],
             ['Washington', 12674],
             ['Wisconsin', 20202],
             ['West Virginia', 5847],
             ['Wyoming', 2123]]

In [141]:
StatePrisonsUs=pd.DataFrame(data=DataValues,columns=ColumnNames)
print(StatePrisonsUs.head(48))

            States  Total per State
0          Alabama            25032
1           Alaska             4636
2          Arizona            33914
3         Arkansas            17022
4       California           101441
5         Colorado            15865
6      Connecticut             9889
7         Delaware             4810
8          Florida            80417
9          Georgia            47010
10          Hawaii             4102
11           Idaho             8907
12        Illinois            28475
13         Indiana            24716
14            Iowa             8562
15          Kansas             8521
16        Kentucky            18560
17       Louisiana            26074
18           Maine             1577
19        Maryland            15134
20   Massachusetts             6148
21        Michigan            32186
22       Minnesota             8003
23     Mississippi            17332
24        Missouri            23422
25         Montana             4313
26        Nebraska             5600
27          Nevada            10202
28   New Hampshire             2127
29      New Jersey            12506
30      New Mexico             5154
31        New York            30338
32  North Carolina            38995
33    North Dakota             1689
34            Ohio            45029
35        Oklahoma            22391
36          Oregon            13198
37    Pennsylvania            37194
38    Rhode Island             2238
39  South Carolina            15758
40    South Dakota             3353
41        Tennesse            21995
42           Texas           133772
43            Utah             5907
44         Vermont             1287
45        Virginia            30357
46      Washington            12674
47       Wisconsin            20202

Top Populated:

In [142]:
StatePrisonsUs.loc[StatePrisonsUs['Total per State'].idxmax()]

States              Texas
Total per State    133772
Name: 42, dtype: object

Lowest Populated:

In [143]:
StatePrisonsUs.loc[StatePrisonsUs['Total per State'].idxmin()]

States             Vermont
Total per State       1287
Name: 44, dtype: object

Conculsion: Texas has the highest population in Prison with in the state. While Vermont has the lowest population in prison in the state.

Import offenses:

In [144]:
PrisonsUS2 = pd.read_csv('C:/Users/linzw/DsClass/DSO110/Lesson 3/Prison4.csv')
PrisonsUS2.head(25)

,Bureau of Justice Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,Filename: p21stt18.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Table 18. Sentenced prisoners in the custody o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Report title: Prisoners in 2021 – Statistical ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Data source: Bureau of Justice Statistics, Na...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Author: E. Ann Carson, PhD, BJS Statistician",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Refer questions to: askbjs@usdoj.gov 202-307-0765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Date of version: 12/20/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Table 18. Sentenced prisoners in the custody o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Jurisdiction,Total number of sentenced prisoners in custody,Total/a,NaN,Violent,NaN,Property,NaN,Drug,NaN,Public order,NaN,Other/unspecified,NaN
10,Alabama,"21,837",100,%,59.6,%,17,%,14.1,%,8.1,%,1.3,%
11,Alaska/b,"2,100",100,%,81.7,NaN,11.8,NaN,2.1,NaN,4.4,NaN,#,NaN
12,Arizona/c,"40,753",100,%,43.8,NaN,20.8,NaN,23.1,NaN,12,NaN,0.2,NaN
13,Arkansas,"14,078",100,%,55.6,NaN,13.2,NaN,19.9,NaN,8.3,NaN,2.9,NaN
14,California,"96,110",100,%,84.3,NaN,7.3,NaN,2.1,NaN,6,NaN,0.3,NaN
15,Colorado,"16,175",100,%,63.6,NaN,16.6,NaN,7.1,NaN,12.6,NaN,0.2,NaN
16,Connecticut/b,"5,720",100,%,55.4,NaN,10.3,NaN,7.3,NaN,18.3,NaN,8.7,NaN
17,Delaware/b,"2,798",100,%,51.1,NaN,6.9,NaN,10.3,NaN,31.2,NaN,0.5,NaN
18,Florida,"79,416",100,%,60.9,NaN,18.3,NaN,11.2,NaN,9.1,NaN,0.4,NaN
19,Georgia,"46,932",100,%,69.1,NaN,12.5,NaN,9.7,NaN,8.1,NaN,0.7,NaN
20,Hawaii/b,"2,097",100,%,52.7,NaN,25,NaN,9.6,NaN,12.6,NaN,0.1,NaN
21,Idaho,"8,334",100,%,28.7,NaN,22.1,NaN,31.7,NaN,17.2,NaN,0.3,NaN
22,Illinois,"29,341",100,%,65.2,NaN,10.2,NaN,10.5,NaN,14.1,NaN,0.1,NaN
23,Indiana,"26,987",100,%,45.4,NaN,14.6,NaN,25.1,NaN,12.5,NaN,2.4,NaN
24,Iowa,"8,751",100,%,35.4,NaN,19.1,NaN,15.9,NaN,12.5,NaN,17.1,NaN

Droping NaN Values (Columns and Rows):

In [145]:
PrisonsUS2.drop([0, 1, 2, 3, 4, 5, 6, 7, 8, 60, 61, 62, 63, 64, 65, 66], inplace=True)

In [146]:
PrisonsUS2.drop('Unnamed: 3', axis=1, inplace=True)

In [147]:
PrisonsUS2.drop( 'Unnamed: 5', axis=1, inplace=True)

In [148]:
PrisonsUS2.drop('Unnamed: 7', axis=1, inplace=True)

In [149]:
PrisonsUS2.drop('Unnamed: 9', axis=1, inplace=True)

In [150]:
PrisonsUS2.drop( 'Unnamed: 11', axis=1, inplace=True)

In [151]:
PrisonsUS2.drop('Unnamed: 13', axis=1, inplace=True)

In [152]:
PrisonsUS2.head(30)

,Bureau of Justice Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 10,Unnamed: 12
9,Jurisdiction,Total number of sentenced prisoners in custody,Total/a,Violent,Property,Drug,Public order,Other/unspecified
10,Alabama,"21,837",100,59.6,17,14.1,8.1,1.3
11,Alaska/b,"2,100",100,81.7,11.8,2.1,4.4,#
12,Arizona/c,"40,753",100,43.8,20.8,23.1,12,0.2
13,Arkansas,"14,078",100,55.6,13.2,19.9,8.3,2.9
14,California,"96,110",100,84.3,7.3,2.1,6,0.3
15,Colorado,"16,175",100,63.6,16.6,7.1,12.6,0.2
16,Connecticut/b,"5,720",100,55.4,10.3,7.3,18.3,8.7
17,Delaware/b,"2,798",100,51.1,6.9,10.3,31.2,0.5
18,Florida,"79,416",100,60.9,18.3,11.2,9.1,0.4
19,Georgia,"46,932",100,69.1,12.5,9.7,8.1,0.7
20,Hawaii/b,"2,097",100,52.7,25,9.6,12.6,0.1
21,Idaho,"8,334",100,28.7,22.1,31.7,17.2,0.3
22,Illinois,"29,341",100,65.2,10.2,10.5,14.1,0.1
23,Indiana,"26,987",100,45.4,14.6,25.1,12.5,2.4
24,Iowa,"8,751",100,35.4,19.1,15.9,12.5,17.1
25,Kansas,"8,615",100,62.9,7.7,23.1,6.2,0.1
26,Kentucky,"18,647",100,43.7,19.7,24.3,11.9,0.4
27,Louisiana,"26,890",100,57.9,13.1,13.6,14.7,0.7
28,Maine,"1,676",100,54,15,22.6,5.5,2.9
29,Maryland,"15,073",100,74.7,8.9,8.5,7.2,0.7
30,Massachusetts,"7,199",100,71.9,5.9,14.6,6.8,0.8
31,Michigan/c,"39,670",100,61.1,15.8,9.5,13.2,0.3
32,Minnesota,"7,752",100,56.6,8.1,17.1,18.1,0.2
33,Mississippi,"17,243",100,57,18.9,16.6,6.5,1.1
34,Missouri,"23,139",100,60.7,16.1,15.3,7.7,0.2
35,Montana,"2,426",100,66.6,12.6,10.3,10.4,0.1
36,Nebraska,"4,976",100,54.1,13.2,15.8,16,1
37,Nevada,"11,128",100,47,16,7.1,28,1.9
38,New Hampshire,"2,215",100,55.1,15.9,15.6,10,3.4

Importing State Populations:

In [153]:
StatePop = pd.read_excel('C:/Users/linzw/DsClass/DSO110/Lesson 3/State population.xlsx')
StatePop.head(25)

,table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Annual Estimates of the Resident Population fo...,NaN,NaN,NaN,NaN,State Population Totals: 2020-2022 (census.gov)
1,Geographic Area,"April 1, 2020 Estimates Base",Population Estimate (as of July 1),NaN,NaN,NaN
2,NaN,NaN,2020,2021.0,2022.0,NaN
3,United States,331449520,331511512,332031554.0,333287557.0,NaN
4,Northeast,57609156,57448898,57259257.0,57040406.0,NaN
5,Midwest,68985537,68961043,68836505.0,68787595.0,NaN
6,South,126266262,126450613,127346029.0,128716192.0,NaN
7,West,78588565,78650958,78589763.0,78743364.0,NaN
8,.Alabama,5024356,5031362,5049846.0,5074296.0,NaN
9,.Alaska,733378,732923,734182.0,733583.0,NaN
10,.Arizona,7151507,7179943,7264877.0,7359197.0,NaN
11,.Arkansas,3011555,3014195,3028122.0,3045637.0,NaN
12,.California,39538245,39501653,39142991.0,39029342.0,NaN
13,.Colorado,5773733,5784865,5811297.0,5839926.0,NaN
14,.Connecticut,3605942,3597362,3623355.0,3626205.0,NaN
15,.Delaware,989957,992114,1004807.0,1018396.0,NaN
16,.District of Columbia,689546,670868,668791.0,671803.0,NaN
17,.Florida,21538226,21589602,21828069.0,22244823.0,NaN
18,.Georgia,10711937,10729828,10788029.0,10912876.0,NaN
19,.Hawaii,1455273,1451043,1447154.0,1440196.0,NaN
20,.Idaho,1839092,1849202,1904314.0,1939033.0,NaN
21,.Illinois,12812545,12786580,12686469.0,12582032.0,NaN
22,.Indiana,6785668,6788799,6813532.0,6833037.0,NaN
23,.Iowa,3190372,3190571,3197689.0,3200517.0,NaN
24,.Kansas,2937847,2937919,2937922.0,2937150.0,NaN

Removed Nans and unnessary data from table:

In [154]:
StatePop.drop([16, 59, 60, 61, 62, 63, 64, 65], inplace=True)

In [155]:
StatePop.drop('Unnamed: 5', axis=1, inplace=True)

In [156]:
StatePop.drop('Unnamed: 1', axis=1, inplace=True)

In [157]:
StatePop.drop('Unnamed: 2', axis=1, inplace=True)

In [158]:
StatePop.head(60)

,table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts),Unnamed: 3,Unnamed: 4
0,Annual Estimates of the Resident Population fo...,NaN,NaN
1,Geographic Area,NaN,NaN
2,NaN,2021.0,2022.0
3,United States,332031554.0,333287557.0
4,Northeast,57259257.0,57040406.0
5,Midwest,68836505.0,68787595.0
6,South,127346029.0,128716192.0
7,West,78589763.0,78743364.0
8,.Alabama,5049846.0,5074296.0
9,.Alaska,734182.0,733583.0
10,.Arizona,7264877.0,7359197.0
11,.Arkansas,3028122.0,3045637.0
12,.California,39142991.0,39029342.0
13,.Colorado,5811297.0,5839926.0
14,.Connecticut,3623355.0,3626205.0
15,.Delaware,1004807.0,1018396.0
17,.Florida,21828069.0,22244823.0
18,.Georgia,10788029.0,10912876.0
19,.Hawaii,1447154.0,1440196.0
20,.Idaho,1904314.0,1939033.0
21,.Illinois,12686469.0,12582032.0
22,.Indiana,6813532.0,6833037.0
23,.Iowa,3197689.0,3200517.0
24,.Kansas,2937922.0,2937150.0
25,.Kentucky,4506589.0,4512310.0
26,.Louisiana,4627098.0,4590241.0
27,.Maine,1377238.0,1385340.0
28,.Maryland,6174610.0,6164660.0
29,.Massachusetts,6989690.0,6981974.0
30,.Michigan,10037504.0,10034113.0
31,.Minnesota,5711471.0,5717184.0
32,.Mississippi,2949586.0,2940057.0
33,.Missouri,6169823.0,6177957.0
34,.Montana,1106227.0,1122867.0
35,.Nebraska,1963554.0,1967923.0
36,.Nevada,3146402.0,3177772.0
37,.New Hampshire,1387505.0,1395231.0
38,.New Jersey,9267961.0,9261699.0
39,.New Mexico,2116677.0,2113344.0
40,.New York,19857492.0,19677151.0
41,.North Carolina,10565885.0,10698973.0
42,.North Dakota,777934.0,779261.0
43,.Ohio,11764342.0,11756058.0
44,.Oklahoma,3991225.0,4019800.0
45,.Oregon,4256301.0,4240137.0
46,.Pennsylvania,13012059.0,12972008.0
47,.Rhode Island,1096985.0,1093734.0
48,.South Carolina,5193266.0,5282634.0
49,.South Dakota,896164.0,909824.0
50,.Tennessee,6968351.0,7051339.0
51,.Texas,29558864.0,30029572.0
52,.Utah,3339113.0,3380800.0
53,.Vermont,646972.0,647064.0
54,.Virginia,8657365.0,8683619.0
55,.Washington,7740745.0,7785786.0
56,.West Virginia,1785526.0,1775156.0
57,.Wisconsin,5880101.0,5892539.0
58,.Wyoming,579483.0,581381.0

In [159]:
ColumnNames1=['States','Population Total 2021']
DataValues1=[ ['Alabama', 5074296],
             ['Alaska', 733583],
             ['Arizona', 7359197],
             ['Arkansas', 3045637],
             ['California', 39029342],
             ['Colorado', 5839926],
             ['Connecticut', 3626205],
             ['Delaware',1018396 ],
             ['Florida', 22244823],
             ['Georgia', 10912876],
             ['Hawaii', 1440196],
             ['Idaho', 1939033],
             ['Illinois', 12582032],
             ['Indiana', 6833037],
             ['Iowa', 3200517],
             ['Kansas', 2937150],
             ['Kentucky', 4512310],
             ['Louisiana', 4590241],
             ['Maine', 1385340],
             ['Maryland', 6164660],
             ['Massachusetts', 6981974],
             ['Michigan', 10034113],
             ['Minnesota', 5717184],
             ['Mississippi', 2940057],
             ['Missouri', 6177957],
             ['Montana', 1122867],
             ['Nebraska', 1967923],
             ['Nevada', 3177772],
             ['New Hampshire', 1395231],
             ['New Jersey', 9261699],
             ['New Mexico', 2113344],
             ['New York', 19677151],
             ['North Carolina', 10698973],
             ['North Dakota', 779261],
             ['Ohio', 11756058],
             ['Oklahoma', 4019800],
             ['Oregon', 4240137],
             ['Pennsylvania', 12972008],
             ['Rhode Island', 1093734],
             ['South Carolina', 5282634],
             ['South Dakota', 909824],
             ['Tennesse', 7051339],
             ['Texas', 30029572],
             ['Utah', 3380800],
             ['Vermont', 647064],
             ['Virginia', 8683619],
             ['Washington', 7785786],
             ['West Virginia', 1775156],
             ['Wisconsin', 5892539],
             ['Wyoming', 581381]]

In [160]:
StatePop=pd.DataFrame(data=DataValues1,columns=ColumnNames1)
print(StatePop.head(49))

            States  Population Total 2021
0          Alabama                5074296
1           Alaska                 733583
2          Arizona                7359197
3         Arkansas                3045637
4       California               39029342
5         Colorado                5839926
6      Connecticut                3626205
7         Delaware                1018396
8          Florida               22244823
9          Georgia               10912876
10          Hawaii                1440196
11           Idaho                1939033
12        Illinois               12582032
13         Indiana                6833037
14            Iowa                3200517
15          Kansas                2937150
16        Kentucky                4512310
17       Louisiana                4590241
18           Maine                1385340
19        Maryland                6164660
20   Massachusetts                6981974
21        Michigan               10034113
22       Minnesota                5717184
23     Mississippi                2940057
24        Missouri                6177957
25         Montana                1122867
26        Nebraska                1967923
27          Nevada                3177772
28   New Hampshire                1395231
29      New Jersey                9261699
30      New Mexico                2113344
31        New York               19677151
32  North Carolina               10698973
33    North Dakota                 779261
34            Ohio               11756058
35        Oklahoma                4019800
36          Oregon                4240137
37    Pennsylvania               12972008
38    Rhode Island                1093734
39  South Carolina                5282634
40    South Dakota                 909824
41        Tennesse                7051339
42           Texas               30029572
43            Utah                3380800
44         Vermont                 647064
45        Virginia                8683619
46      Washington                7785786
47   West Virginia                1775156
48       Wisconsin                5892539

Finding correalations between State population and Prisoners per state:

In [163]:
ColumnNames2=['States','Prisoners per State','Population Total 2021']
DataValues2=[ ['Alabama', 5074296, 25032],
             ['Alaska', 733583, 4636],
             ['Arizona', 7359197, 33914],
             ['Arkansas', 3045637, 17022],
             ['California', 39029342, 101441],
             ['Colorado', 5839926, 15865],
             ['Connecticut', 3626205, 9889],
             ['Delaware',1018396, 4810],
             ['Florida', 22244823, 80417],
             ['Georgia', 10912876, 47010],
             ['Hawaii', 1440196, 4102],
             ['Idaho', 1939033, 8907],
             ['Illinois', 12582032, 28475],
             ['Indiana', 6833037, 24716],
             ['Iowa', 3200517, 8562],
             ['Kansas', 2937150, 8521],
             ['Kentucky', 4512310, 18560],
             ['Louisiana', 4590241, 26074],
             ['Maine', 1385340, 1577],
             ['Maryland', 6164660, 15134],
             ['Massachusetts', 6981974, 6148],
             ['Michigan', 10034113, 32186],
             ['Minnesota', 5717184, 8003],
             ['Mississippi', 2940057, 17332],
             ['Missouri', 6177957, 23422],
             ['Montana', 1122867, 4313],
             ['Nebraska', 1967923, 5600],
             ['Nevada', 3177772, 10202],
             ['New Hampshire', 1395231, 2127],
             ['New Jersey', 9261699, 12506],
             ['New Mexico', 2113344, 5154],
             ['New York', 19677151, 30338],
             ['North Carolina', 10698973, 38995],
             ['North Dakota', 779261, 1689],
             ['Ohio', 11756058, 45029],
             ['Oklahoma', 4019800, 22391],
             ['Oregon', 4240137, 13198],
             ['Pennsylvania', 12972008, 37194],
             ['Rhode Island', 1093734, 2238],
             ['South Carolina', 5282634, 15758],
             ['South Dakota', 909824, 3353],
             ['Tennesse', 7051339, 21995],
             ['Texas', 30029572, 133772],
             ['Utah', 3380800, 5907],
             ['Vermont', 647064, 1287],
             ['Virginia', 8683619, 30357],
             ['Washington', 7785786, 12674],
             ['West Virginia', 1775156, 5847],
             ['Wisconsin', 5892539, 20202],
             ['Wyoming', 581381, 2123]]

In [165]:
StatePop=pd.DataFrame(data=DataValues2,columns=ColumnNames2)
print(StatePop.head(50))

            States  Prisoners per State  Population Total 2021
0          Alabama              5074296                  25032
1           Alaska               733583                   4636
2          Arizona              7359197                  33914
3         Arkansas              3045637                  17022
4       California             39029342                 101441
5         Colorado              5839926                  15865
6      Connecticut              3626205                   9889
7         Delaware              1018396                   4810
8          Florida             22244823                  80417
9          Georgia             10912876                  47010
10          Hawaii              1440196                   4102
11           Idaho              1939033                   8907
12        Illinois             12582032                  28475
13         Indiana              6833037                  24716
14            Iowa              3200517                   8562
15          Kansas              2937150                   8521
16        Kentucky              4512310                  18560
17       Louisiana              4590241                  26074
18           Maine              1385340                   1577
19        Maryland              6164660                  15134
20   Massachusetts              6981974                   6148
21        Michigan             10034113                  32186
22       Minnesota              5717184                   8003
23     Mississippi              2940057                  17332
24        Missouri              6177957                  23422
25         Montana              1122867                   4313
26        Nebraska              1967923                   5600
27          Nevada              3177772                  10202
28   New Hampshire              1395231                   2127
29      New Jersey              9261699                  12506
30      New Mexico              2113344                   5154
31        New York             19677151                  30338
32  North Carolina             10698973                  38995
33    North Dakota               779261                   1689
34            Ohio             11756058                  45029
35        Oklahoma              4019800                  22391
36          Oregon              4240137                  13198
37    Pennsylvania             12972008                  37194
38    Rhode Island              1093734                   2238
39  South Carolina              5282634                  15758
40    South Dakota               909824                   3353
41        Tennesse              7051339                  21995
42           Texas             30029572                 133772
43            Utah              3380800                   5907
44         Vermont               647064                   1287
45        Virginia              8683619                  30357
46      Washington              7785786                  12674
47   West Virginia              1775156                   5847
48       Wisconsin              5892539                  20202
49         Wyoming               581381                   2123