In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
import scipy
from scipy.stats import norm
from scipy import stats
from statsmodels.stats.proportion import proportions_ztest
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison

In [8]:
USpolice = pd.read_excel("New/USDATA/KnownUSincedents/Table_8_Offenses_Known_to_Law_Enforcement_by_State_by_City_2021.xlsx")

In [9]:
USpolice.head()

,Table 8,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Offenses Known to Law Enforcement,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"by State by City, 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State,City,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson
3,ALABAMA,Abbeville,2539,4,1,0,0,3,53,11,37,5,0
4,NaN,Alabaster,33963,25,1,4,0,20,282,13,253,16,1

In [10]:
USpolice.drop([0,1,2,5878],inplace=True)

In [11]:
USpolice.rename(columns={"Table 8":"State","Unnamed: 1":"City","Unnamed: 2":"Population","Unnamed: 3":"ViolentCrime","Unnamed: 4":"MurderNonnegligentManslaughter",
"Unnamed: 5":"Rape","Unnamed: 6":"Robbery","Unnamed: 7":"AggravatedAssault","Unnamed: 8":"PropertyCrime","Unnamed: 9":"Burglary","Unnamed: 10":"Larcenytheft","Unnamed: 11":"Motor\nvehicle\ntheft","Unnamed: 12":"Arson"},inplace=True)

In [12]:
USpolice

,State,City,Population,ViolentCrime,MurderNonnegligentManslaughter,Rape,Robbery,AggravatedAssault,PropertyCrime,Burglary,Larcenytheft,Motor\nvehicle\ntheft,Arson
3,ALABAMA,Abbeville,2539,4,1,0,0,3,53,11,37,5,0
4,NaN,Alabaster,33963,25,1,4,0,20,282,13,253,16,1
5,NaN,Alexander City,14066,40,0,0,7,33,283,178,87,18,1
6,NaN,Altoona,913,4,0,0,0,4,7,1,6,0,0
7,NaN,Andalusia,8643,44,1,6,1,36,254,45,198,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5874,NaN,Sheridan,18157,15,0,0,0,15,239,19,202,18,2
5875,NaN,Thermopolis,2747,2,0,0,0,2,25,2,23,0,0
5876,NaN,Torrington,6564,16,1,4,0,11,63,15,40,8,1
5877,NaN,Worland,4947,5,0,2,0,3,37,0,34,3,1
5878,1Limited data for 2021 were available for Cali...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN