In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import scipy
from scipy.stats import norm
from scipy import stats
from statsmodels.stats.proportion import proportions_ztest
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison

In [45]:
USpolice20 = pd.read_excel("New/USDATA/KnownUSincedents2020/Table_8_Offenses_Known_to_Law_Enforcement_by_State_by_City_2020.xlsx")

## Offenses Known to Law Enforcement
#### State by City, 2020

In [46]:
USpolice20.drop([0,1,2,3,4,7694,7695,7696,7697,7698,7699,7700,7701,7702],inplace=True)

In [47]:
USpolice20.rename(columns={"Table 8":"State","Unnamed: 1":"City","Unnamed: 2":"Population","Unnamed: 3":"ViolentCrime","Unnamed: 4":"MurderNonnegligentManslaughter",
"Unnamed: 5":"Rape","Unnamed: 6":"Robbery","Unnamed: 7":"AggravatedAssault","Unnamed: 8":"PropertyCrime","Unnamed: 9":"Burglary","Unnamed: 10":"Larcenytheft","Unnamed: 11":"Motor\nvehicle\ntheft","Unnamed: 12":"Arson"},inplace=True)

In [48]:
USpolice20

,State,City,Population,ViolentCrime,MurderNonnegligentManslaughter,Rape,Robbery,AggravatedAssault,PropertyCrime,Burglary,Larcenytheft,Motor\nvehicle\ntheft,Arson
5,Alabama3,Cedar Bluff,1823,4,0,0,0,4,36,7,26,3,NaN
6,Alabama3,Centre,3547,20,0,4,0,16,124,12,97,15,NaN
7,Alabama3,Daleville,5080,16,0,0,1,15,98,19,72,7,NaN
8,Alabama3,Enterprise,28569,128,2,17,9,100,715,97,570,48,NaN
9,Alabama3,Eufaula,11568,95,3,9,15,68,456,95,318,43,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7689,Wyoming,Sheridan4,17991,16,0,2,0,14,264,32,217,15,2
7690,Wyoming,Thermopolis4,2738,3,0,1,0,2,40,5,34,1,0
7691,Wyoming,Torrington,6623,32,0,7,0,25,77,7,69,1,0
7692,Wyoming,Wheatland,3445,6,0,0,0,6,80,22,50,8,0
7693,Wyoming,Worland4,4975,6,0,1,0,5,29,4,23,2,0

##   Hypothesis:There is no corralation between property crime and bodily crime
## Null: There is higher property damage than there is violent crimes against a person

Analysis:

## Hypothesis:There is no corralation between the number of assaults and murder
## Null: As the number of assaults increase there is a increase in murders

Analysis:

## Hypothesis:There is no corralation between the number of crimes and population
## Null: As the population increases there is a increase in crimes