In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import scipy
from scipy.stats import norm
from scipy import stats
from statsmodels.stats.proportion import proportions_ztest
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison

In [2]:
USprisons = pd.read_csv("New/USDATA/prisonstatsUS/p21stat02.csv")
USprisons.rename(columns={"Bureau of Justice Statistics":"Year","Unnamed: 1":"Sentenced prisoners"},inplace=True)
USprisons.drop([0,1,2,3,4,5,6,7,8,9,36,37],inplace=True)
USprisons.to_csv("pricomp.csv")

In [4]:
USprisons = pd.read_csv("New/USDATA/prisonstatsUS/p21stat01.csv")
USprisons.head()

,Bureau of Justice Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Filename: p21stat01.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Appendix Table 1. Prisoners under the jurisdic...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Report title: Prisoners in 2021 – Statistical ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Data source: Bureau of Justice Statistics, Fed...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Author: E. Ann Carson, PhD, BJS Statistician",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
USprisons.drop([0,1,2,3,4,5,6,7,8,10,11,62,63,64,65,66,67,68,69,70,71,72,73,74], inplace = True)

In [6]:
USprisons.drop('Bureau of Justice Statistics',axis=1, inplace=True)

In [7]:
len(USprisons)

51

In [8]:
USprisons.rename(columns={"Unnamed: 1":"State,Total","Unnamed: 2":"White/a","Unnamed: 3":"Black/a",
                          "Unnamed: 4":"Hispanic","Unnamed: 5":"American Indian/Alaska Native/a","Unnamed: 6":"Asian/a",
                          "Unnamed: 7":"Native Hawaiian/Other Pacific Islander/a","Unnamed: 8":"Two or more races/a",
                          "Unnamed: 9":"Other/a","Unnamed: 10":"Unknown","Unnamed: 11":"Did not report"},inplace=True)

In [17]:
USprisonscrime = pd.read_csv("New/USDATA/prisonstatsUS/p21stt18.csv")

In [18]:
USprisonscrime.drop([0,1,2,3,4,5,6,7,8,9,11,60,61,62,63,64,65,66], inplace = True)

In [19]:
USprisonscrime.rename(columns={"Bureau of Justice Statistics":"Jurisdiction","Unnamed: 1":"sentencedprisonersincustody",
                               "Unnamed: 2":"Total","Unnamed: 3":"NaN","Unnamed: 4":"Violent","Unnamed: 5":"NaN",
                               "Unnamed: 6":"Property","Unnamed: 7":"NaN","Unnamed: 8":"Drug","Unnamed: 9":"NaN",
                               "Unnamed: 10":"Publicorder","Unnamed: 11":"NaN","Unnamed: 12":"unspecified","Unnamed: 13":"NaN"},inplace=True)

In [20]:
USprisonscrime=USprisonscrime.drop(['NaN','Total', 'Drug', 'Publicorder','unspecified'], axis=1)

In [23]:
USprisonscrime.to_csv('USprisonscrime.csv')

In [14]:
USprisonscrime=pd.read_csv('USprisonscrime.csv')

In [12]:
USprisonscrime.describe()

,Jurisdiction,sentencedprisonersincustody,Total,NaN,Violent,NaN,Property,NaN,Drug,NaN,Publicorder,NaN,unspecified,NaN
count,49,49,49,49,49,1,49,1,49,1,49,1,49,1
unique,49,49,1,1,45,1,44,1,44,1,39,1,26,1
top,Alabama,"21,837",100,%,62.9,%,14.6,%,15.3,%,8.1,%,0.2,%
freq,1,1,49,49,2,1,2,1,2,1,3,1,6,1

In [13]:
USprisonageMale = pd.read_csv("New/USDATA/prisonstatsUS/p21stf04.csv")

In [14]:
USprisonageMale

,Bureau of Justice Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Filename: p21stf04.csv,NaN,NaN,NaN,NaN,NaN
1,Figure 4. Imprisonment rates of male U.S. resi...,NaN,NaN,NaN,NaN,NaN
2,Report title: Prisoners in 2021 – Statistical ...,NaN,NaN,NaN,NaN,NaN
3,"Data source: Bureau of Justice Statistics, Fed...",NaN,NaN,NaN,NaN,NaN
4,"Author: E. Ann Carson, PhD, BJS Statistician",NaN,NaN,NaN,NaN,NaN
5,Refer questions to: askbjs@usdoj.gov 202-307-0765,NaN,NaN,NaN,NaN,NaN
6,Date of version: 12/20/2022,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN
8,Figure 4. Imprisonment rates of male U.S. resi...,NaN,NaN,NaN,NaN,NaN
9,NaN,"Rate per 100,000",NaN,NaN,NaN,NaN
10,Age at yearend,White/a,Black/a,Hispanic,American Indian/Alaskan Native,"Asian/a,b"
11,18–19,33,381,84,169,13
12,20–24,247,"1,985",725,"1,181",113
13,25–29,531,"3,379","1,541","2,330",243
14,30–34,714,"3,692","1,793","2,978",259
15,35–39,780,"3,831","1,774","3,370",292
16,40–44,731,"3,693","1,643","3,058",271
17,45–49,607,"3,035","1,347","2,440",245
18,50–54,483,"2,413","1,051","1,928",202
19,55–59,392,"1,946",869,"1,460",146
20,60–64,253,"1,328",657,907,108
21,65 or older,101,488,317,453,43
22,Note: Jurisdiction refers to the legal authori...,NaN,NaN,NaN,NaN,NaN
23,"a/Excludes persons of Hispanic origin (e.g., “...",NaN,NaN,NaN,NaN,NaN
24,"b/Includes Asians, Native Hawaiians, and Other...",NaN,NaN,NaN,NaN,NaN
25,"Source: Bureau of Justice Statistics, Federal ...",NaN,NaN,NaN,NaN,NaN

In [15]:
USprisonageMale.rename(columns={"Bureau of Justice Statistics":"Age at yearend","Unnamed: 1":"White/a",
                               "Unnamed: 2":"Black/a","Unnamed: 3":"Hispanic","Unnamed: 4":"American Indian/Alaskan Native","Unnamed: 5":"Asian/a,b"},inplace=True)

In [16]:
USprisonageMale.drop([0,1,2,3,4,5,6,7,8,9,10,22,23,24,25], inplace = True)

### Figure 4. Imprisonment rates of male U.S. residents, based on sentenced prisoners under the jurisdiction of state or federal correctional authorities, by demographic characteristics, December 31, 2021

In [17]:
USprisonageMale

,Age at yearend,White/a,Black/a,Hispanic,American Indian/Alaskan Native,"Asian/a,b"
11,18–19,33,381,84,169,13
12,20–24,247,"1,985",725,"1,181",113
13,25–29,531,"3,379","1,541","2,330",243
14,30–34,714,"3,692","1,793","2,978",259
15,35–39,780,"3,831","1,774","3,370",292
16,40–44,731,"3,693","1,643","3,058",271
17,45–49,607,"3,035","1,347","2,440",245
18,50–54,483,"2,413","1,051","1,928",202
19,55–59,392,"1,946",869,"1,460",146
20,60–64,253,"1,328",657,907,108
21,65 or older,101,488,317,453,43

In [18]:
USprisonageFe = pd.read_csv("New/USDATA/prisonstatsUS/p21stf05.csv")

In [19]:
USprisonageFe.rename(columns={"Bureau of Justice Statistics":"Age at yearend","Unnamed: 1":"White/a",
                               "Unnamed: 2":"Black/a","Unnamed: 3":"Hispanic","Unnamed: 4":"American Indian/Alaskan Native","Unnamed: 5":"Asian/a,b"},inplace=True)

In [20]:
USprisonageFe.drop([0,1,2,3,4,5,6,7,8,9,10,22,23,24,25], inplace=True)

In [21]:
USprisonageFe

,Age at yearend,White/a,Black/a,Hispanic,American Indian/Alaskan Native,"Asian/a,b"
11,18–19,2,13,6,14,0
12,20–24,31,74,50,136,4
13,25–29,82,144,111,349,13
14,30–34,111,145,135,411,11
15,35–39,117,138,129,495,10
16,40–44,94,123,103,348,8
17,45–49,70,96,66,266,8
18,50–54,47,75,49,151,6
19,55–59,29,56,37,134,6
20,60–64,15,33,21,75,3
21,65 or older,4,8,6,19,2

In [22]:
USprisonage=pd.concat([USprisonageFe,USprisonageMale])
USprisonage

,Age at yearend,White/a,Black/a,Hispanic,American Indian/Alaskan Native,"Asian/a,b"
11,18–19,2,13,6,14,0
12,20–24,31,74,50,136,4
13,25–29,82,144,111,349,13
14,30–34,111,145,135,411,11
15,35–39,117,138,129,495,10
16,40–44,94,123,103,348,8
17,45–49,70,96,66,266,8
18,50–54,47,75,49,151,6
19,55–59,29,56,37,134,6
20,60–64,15,33,21,75,3
21,65 or older,4,8,6,19,2
11,18–19,33,381,84,169,13
12,20–24,247,"1,985",725,"1,181",113
13,25–29,531,"3,379","1,541","2,330",243
14,30–34,714,"3,692","1,793","2,978",259
15,35–39,780,"3,831","1,774","3,370",292
16,40–44,731,"3,693","1,643","3,058",271
17,45–49,607,"3,035","1,347","2,440",245
18,50–54,483,"2,413","1,051","1,928",202
19,55–59,392,"1,946",869,"1,460",146
20,60–64,253,"1,328",657,907,108
21,65 or older,101,488,317,453,43

In [23]:
USprisonage2=pd.merge(USprisonageFe,USprisonageMale,on="Age at yearend")
USprisonage2

,Age at yearend,White/a_x,Black/a_x,Hispanic_x,American Indian/Alaskan Native_x,"Asian/a,b_x",White/a_y,Black/a_y,Hispanic_y,American Indian/Alaskan Native_y,"Asian/a,b_y"
0,18–19,2,13,6,14,0,33,381,84,169,13
1,20–24,31,74,50,136,4,247,"1,985",725,"1,181",113
2,25–29,82,144,111,349,13,531,"3,379","1,541","2,330",243
3,30–34,111,145,135,411,11,714,"3,692","1,793","2,978",259
4,35–39,117,138,129,495,10,780,"3,831","1,774","3,370",292
5,40–44,94,123,103,348,8,731,"3,693","1,643","3,058",271
6,45–49,70,96,66,266,8,607,"3,035","1,347","2,440",245
7,50–54,47,75,49,151,6,483,"2,413","1,051","1,928",202
8,55–59,29,56,37,134,6,392,"1,946",869,"1,460",146
9,60–64,15,33,21,75,3,253,"1,328",657,907,108
10,65 or older,4,8,6,19,2,101,488,317,453,43