In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import scipy
from scipy.stats import norm
from scipy import stats
from statsmodels.stats.proportion import proportions_ztest
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison

In [2]:
USunemploy = pd.read_csv("New/USDATA/unemployment_rate_data.csv")

### Contains the monthly unemployment rate from 1948-2021. This file also contains information on subsets of the population, including based on age ranges from 16-55 and over, and unemployment rates for men and women. This data is collected by the US Bureau of Labor Statistics.

In [3]:
USunemploy.tail(12)

,date,unrate,unrate_men,unrate_women,unrate_16_to_17,unrate_18_to_19,unrate_20_to_24,unrate_25_to_34,unrate_35_to_44,unrate_45_to_54,unrate_55_over
875,12/1/2020,6.5,6.7,6.3,11.8,15.3,10.6,6.4,5.5,5.3,5.8
876,1/1/2021,6.8,7.1,6.5,15.2,15.9,10.8,7.2,6.1,5.2,5.6
877,2/1/2021,6.6,7.0,6.1,14.5,14.0,10.0,6.7,6.0,5.2,5.6
878,3/1/2021,6.2,6.5,5.8,12.0,12.7,10.4,7.0,5.4,4.7,4.8
879,4/1/2021,5.7,6.0,5.4,10.5,10.9,9.8,6.2,4.7,4.7,4.8
880,5/1/2021,5.5,5.7,5.2,9.2,9.7,10.3,5.5,4.7,4.5,4.6
881,6/1/2021,6.1,6.1,6.1,15.0,12.3,9.9,6.5,5.2,4.6,5.0
882,7/1/2021,5.7,5.5,5.8,12.8,9.9,9.5,6.3,4.8,4.0,4.6
883,8/1/2021,5.3,5.1,5.5,10.7,11.0,9.1,5.8,4.4,4.2,4.1
884,9/1/2021,4.6,4.6,4.5,9.2,12.6,7.7,5.0,3.8,3.7,3.3
885,10/1/2021,4.3,4.2,4.4,8.6,12.7,6.8,4.5,3.6,3.5,3.3
886,11/1/2021,3.9,3.9,3.9,9.7,11.0,6.6,3.8,3.6,2.8,3.1

In [4]:
USunemploy2 = USunemploy['date'].str.split('/', expand=True).rename(columns = lambda x: "date"+str(x+1))#add rename instead of index of 0+
USunemploy2.tail(12)

    date1 date2 date3
875    12     1  2020
876     1     1  2021
877     2     1  2021
878     3     1  2021
879     4     1  2021
880     5     1  2021
881     6     1  2021
882     7     1  2021
883     8     1  2021
884     9     1  2021
885    10     1  2021
886    11     1  2021

In [5]:
USunemploy2=pd.concat([USunemploy,USunemploy2],axis=1)

In [6]:
USunemploy2.groupby('date3')['unrate'].mean()#5.5 unemplyment rate for 2021

date3
1948    3.766667
1949    5.908333
1950    5.325000
1951    3.333333
1952    3.033333
          ...
2017    4.350000
2018    3.900000
2019    3.666667
2020    8.091667
2021    5.518182
Name: unrate, Length: 74, dtype: float64

In [7]:
USunemploy2['unrate'].mean()#mean unemployment rate for the last 73 years

5.763134160090193

In [8]:
USunemploy2.describe()

,unrate,unrate_men,unrate_women,unrate_16_to_17,unrate_18_to_19,unrate_20_to_24,unrate_25_to_34,unrate_35_to_44,unrate_45_to_54,unrate_55_over
count,887.000000,887.000000,887.000000,887.000000,887.000000,887.000000,887.000000,887.000000,887.000000,887.000000
mean,5.763134,5.633709,6.028749,17.943517,14.824803,9.345660,5.532582,4.242954,3.867193,3.838782
std,1.740101,1.954639,1.608252,5.018894,4.047867,2.800988,1.923600,1.443626,1.352247,1.241579
min,2.400000,1.900000,2.600000,5.700000,5.200000,3.300000,2.000000,1.600000,1.500000,1.500000
25%,4.500000,4.300000,4.900000,14.700000,12.300000,7.700000,4.200000,3.200000,2.950000,3.000000
50%,5.500000,5.300000,5.800000,17.800000,14.600000,9.100000,5.200000,4.000000,3.600000,3.600000
75%,6.800000,6.700000,7.000000,20.900000,17.000000,10.800000,6.700000,5.000000,4.500000,4.400000
max,14.400000,13.300000,15.700000,35.800000,33.300000,25.000000,14.300000,11.300000,12.100000,13.400000

In [9]:
emcomp=pd.read_clipboard()

In [10]:
emcomp

,date,unrate,unrate_men,unrate_women,unrate_16_to_17,unrate_18_to_19,unrate_20_to_24,unrate_25_to_34,unrate_35_to_44,unrate_45_to_54,unrate_55_over
0,1/1/1996,6.3,6.5,6.0,21.2,17.1,11.1,6.2,4.8,4.1,4.0
1,2/1/1996,6.0,6.4,5.5,20.6,15.8,10.6,6.0,4.5,3.7,3.8
2,3/1/1996,5.8,6.3,5.3,20.5,15.5,9.8,5.7,4.5,3.6,3.9
3,4/1/1996,5.4,5.6,5.1,20.4,14.9,8.6,5.2,4.2,3.6,3.2
4,5/1/1996,5.4,5.4,5.4,20.8,15.3,9.8,5.1,3.7,3.4,3.5
...,...,...,...,...,...,...,...,...,...,...,...
306,7/1/2021,5.7,5.5,5.8,12.8,9.9,9.5,6.3,4.8,4.0,4.6
307,8/1/2021,5.3,5.1,5.5,10.7,11.0,9.1,5.8,4.4,4.2,4.1
308,9/1/2021,4.6,4.6,4.5,9.2,12.6,7.7,5.0,3.8,3.7,3.3
309,10/1/2021,4.3,4.2,4.4,8.6,12.7,6.8,4.5,3.6,3.5,3.3
310,11/1/2021,3.9,3.9,3.9,9.7,11.0,6.6,3.8,3.6,2.8,3.1

In [12]:
emcomp.to_csv("emcomp.csv")