In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import scipy
from scipy.stats import norm
from scipy import stats
from statsmodels.stats.proportion import proportions_ztest
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison

In [3]:
USunemploy = pd.read_csv("New/USDATA/unemployment_rate_data.csv")

In [10]:
USunemploy.tail(12)

,date,unrate,unrate_men,unrate_women,unrate_16_to_17,unrate_18_to_19,unrate_20_to_24,unrate_25_to_34,unrate_35_to_44,unrate_45_to_54,unrate_55_over
875,12/1/2020,6.5,6.7,6.3,11.8,15.3,10.6,6.4,5.5,5.3,5.8
876,1/1/2021,6.8,7.1,6.5,15.2,15.9,10.8,7.2,6.1,5.2,5.6
877,2/1/2021,6.6,7.0,6.1,14.5,14.0,10.0,6.7,6.0,5.2,5.6
878,3/1/2021,6.2,6.5,5.8,12.0,12.7,10.4,7.0,5.4,4.7,4.8
879,4/1/2021,5.7,6.0,5.4,10.5,10.9,9.8,6.2,4.7,4.7,4.8
880,5/1/2021,5.5,5.7,5.2,9.2,9.7,10.3,5.5,4.7,4.5,4.6
881,6/1/2021,6.1,6.1,6.1,15.0,12.3,9.9,6.5,5.2,4.6,5.0
882,7/1/2021,5.7,5.5,5.8,12.8,9.9,9.5,6.3,4.8,4.0,4.6
883,8/1/2021,5.3,5.1,5.5,10.7,11.0,9.1,5.8,4.4,4.2,4.1
884,9/1/2021,4.6,4.6,4.5,9.2,12.6,7.7,5.0,3.8,3.7,3.3
885,10/1/2021,4.3,4.2,4.4,8.6,12.7,6.8,4.5,3.6,3.5,3.3
886,11/1/2021,3.9,3.9,3.9,9.7,11.0,6.6,3.8,3.6,2.8,3.1

In [11]:
USunemploy2 = USunemploy['date'].str.split('/', expand=True).rename(columns = lambda x: "date"+str(x+1))#add rename instead of index of 0+
USunemploy2.tail(12)

    date1 date2 date3
875    12     1  2020
876     1     1  2021
877     2     1  2021
878     3     1  2021
879     4     1  2021
880     5     1  2021
881     6     1  2021
882     7     1  2021
883     8     1  2021
884     9     1  2021
885    10     1  2021
886    11     1  2021

In [12]:
USunemploy2=pd.concat([USunemploy,USunemploy2],axis=1)

In [20]:
USunemploy2.groupby('date3')['unrate'].mean()#5.5 unemplyment rate for 2021

date3
1948    3.766667
1949    5.908333
1950    5.325000
1951    3.333333
1952    3.033333
          ...
2017    4.350000
2018    3.900000
2019    3.666667
2020    8.091667
2021    5.518182
Name: unrate, Length: 74, dtype: float64

In [21]:
USunemploy2['unrate'].mean()#mean unemployment rate for the last 73 years

5.763134160090193

73